/secrets/*
!/secrets/*.age
!/secrets/agenix.nix
!/secrets/manifest.nix
!/secrets/pubkeys/
!/secrets/pubkeys/age.pub
/secrets/top/
/SensitivePrivateSecrets
/.jj
/ss
/result
/rebuild.log
/.cache/
/rust/apps/*/target/
/node/apps/*/node_modules/
/node/apps/*/dist/
