/secrets/*
!/secrets/*.age
!/secrets/agenix.nix
!/secrets/pubkeys/
!/secrets/pubkeys/age.pub
/secrets/top/
/SensitivePrivateSecrets
/.jj
/ss
/result
/.cache/deploy-validation/
/rust/apps/*/target/
/secrets/
